<html>
	<head>
		<title>Susie's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Musings from an Expat</a></h1>
			<h2>Life of an American in the UK</h2>
		</div>
		<div>
			<p>Hi there!</p>
			<p>I've lived in the UK for a year and I love it.</p>
			<p>Here are my favourite things about living here:</p>
			<ul><li>Doctor Who</li><li>Pub Quizzes</li><li>Baking</li><li>Queues</li></ul>
		</div>
		{% for post in posts %}
			<div>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>published: {{ post.published_date }}</p>
			</div>
		{% endfor %}
	</body>
</html>