<html>
	<head>
		<title>Susie's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Musings from an Expat</a></h1>
			<h2>Life of an American in the UK</h2>
		</div>
		<div>
			<p>Hi there!</p>
			<p>I've lived in the UK for a year and I love it.</p>
			<p>Here are my favourite things about living here:</p>
			<ul><li>Doctor Who</li><li>Pub Quizzes</li><li>Baking</li><li>Queues</li></ul>
		</div>
		<div>
			<h2><a href="">My first post</a></h2>
			<p>Language differences</p>
			<p>published: 26.10.17</p>
		</div>
		<div>
			<h2><a href="">My second post</a></h2>
			<p>Cultural differences</p>
			<p>published: 26.10.17</p>
		</div>
	</body>
</html>